<!DOCTYPE html>
<html>
	<title>Café Template</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="estilo.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
	<style>
		body, html {
		height: 100%;
		font-family: "Inconsolata", sans-serif;
		}
		
		.bgimg {
		background-position: center;
		background-size: cover;
		background-image: url("Imagens/Coffehouse.jpg");
		min-height: 75%;
		}
		
		.menu {
		display: none;
		}

    </style>
    <div class="top">
        <div class="row padding black">
            <div class="col s3">
                <a href="#" class="button block black">HOME</a>
            </div>
            <div class="col s3">
                <a href="#about" class="button block black">SOBRE</a>
            </div>
            <div class="col s3">
                <a href="#menu" class="button block black">CARDÁPIO</a>
            </div>
            <div class="col s3">
                <a href="#where" class="button block black">LOCALIZAÇÃO</a>
            </div>
        </div>
    </div>