<!DOCTYPE html>
<html lang="en">
<title>CJM Centro Automotivo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="estilo.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="_imagens/CJMlogo - Copia.jpg" sizes="16x16" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
	body {
		font-family: "Lato", sans-serif
	}

	.mySlides {
		display: none
	}

	.owl-carousel .owl-item img {
		width: 300%;
		/* Ajuste o valor para o tamanho desejado */
	}
</style>

<body>

	<!-- Navbar -->
	<div class="top">
		<div class="bar w3-black card">
			<a class="bar-item button padding-large hide-medium hide-large right" href="javascript:void(0)"
				onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
			<a href="#" class="bar-item button padding-large">INÍCIO</a>
			<a href="#OFICINA" class="bar-item button padding-large hide-small">OFICINA</a>
			<a href="#servicos" class="bar-item button padding-large hide-small">SERVIÇOS</a>
			<a href="#pricing" class="bar-item button padding-large hide-small">PROMOÇÕES</a>
			<a href="#Contato" class="bar-item button padding-large hide-small">LOCALIZAÇÃO</a>
			<a href="#" class="bar-item right button padding-large hide-small">08h00 às 18h00</a>

		</div>
	</div>

	<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
	<div id="navDemo" class="bar-block black hide hide-large hide-medium top" style="margin-top:46px">
		<a href="#OFICINA" class="bar-item button padding-large" onclick="myFunction()">OFICINA</a>
		<a href="#servicos" class="bar-item button padding-large" onclick="myFunction()">SERVIÇOS</a>
		<a href="#Contato" class="bar-item button padding-large" onclick="myFunction()">CONTATO</a>
		<a href="#" class="bar-item button padding-large" onclick="myFunction()">INÍCIO</a>
	</div>

	<!-- Page content -->
	<div class="content" style="max-width:2000px;margin-top:46px">

		<!-- Carrossel de Imagens -->
		<div class="mySlides display-container center">
			<img src="_imagens/CJMcartao - Copia.jpg" style="width:100%">
			<div class="display-bottommiddle container text-white padding-32 hide-small">
				<h3></h3>
				<p><b></b></p>
			</div>
		</div><!--
		<div class="mySlides display-container center">
			<img src="_imagens/CJMcartao - Copia.jpg" style="width:100%">
			<div class="display-bottommiddle container text-white padding-32 hide-small">
				<h3>CJM</h3>
				<p><b> --- </b></p>
			</div>
		</div>
		<div class="mySlides display-container center">
			<img src="_imagens/BALANCEAMENTO.jpg" style="width:100%">
			<div class="display-bottommiddle container text-white padding-32 hide-small">
				<h3>BALANCEAMENTO</h3>
				<p><b> --- </b></p>
			</div>
		</div>
		<div class="mySlides display-container center">
			<img src="_imagens/INJEçÂOELETRONICA.jpg" style="width:100%">
			<div class="display-bottommiddle container text-white padding-32 hide-small">
				<h3>INJEÇÃO ELETRÔNICA</h3>
				<p><b> --- </b></p>
			</div>
		</div>
		<div class="mySlides display-container center">
			<img src="_imagens/MOTORES.jpg" style="width:100%">
			<div class="display-bottommiddle container text-white padding-32 hide-small">
				<h3>MOTORES</h3>
				<p><b> --- </b></p>
			</div>
		</div>
		<div class="mySlides display-container center">
			<img src="_imagens/SUSPENSÃO.jpg" style="width:100%">
			<div class="display-bottommiddle container text-white padding-32 hide-small">
				<h3>SUSPENSÃO</h3>
				<p><b> --- </b></p>
			</div>
		</div>
		<div class="mySlides display-container center">
			<img src="_imagens/TrocaDEOLEO.jpg" style="width:100%">
			<div class="display-bottommiddle container text-white padding-32 hide-small">
				<h3>TROCA DE ÓLEO</h3>
				<p><b> --- </b></p>
			</div>
		</div>
		<div class="mySlides display-container center">
			<img src="_imagens/FREIOS.jpg" style="width:100%">
			<div class="display-bottommiddle container text-white padding-32 hide-small">
				<h3>FREIOS</h3>
				<p><b>---</b></p>
			</div>
		</div>-->
		
		<!-- Serviços -->
		<div class="container" style="padding: 80px 160px; background-size: cover; background-color: #000;"
			id="servicos">
			<h1 class="center" style="color: #ffffff"><b> NOSSOS SERVIÇOS </b></h1><br>
			<div class="row-padding">
				<div class="col m6">
					<a href="#geometria">
						<h1 style="color: #ffffff"> <i class="fa fa-check"> </i> GEOMETRIA </h1>
					</a>
					<a href="#balanceamento">
						<h1 style="color: #ffffff"> <i class="fa fa-check"> </i> BALANCEAMENTO </h1>
					</a>
					<a href="#cambagem">
						<h1 style="color: #ffffff"> <i class="fa fa-check"> </i> CAMBAGEM </h1>
					</a>
					<a href="#caster">
						<h1 style="color: #ffffff"> <i class="fa fa-check"> </i> CASTER </h1>
					</a>
					<a href="#motor">
						<h1 style="color: #ffffff"> <i class="fa fa-check"> </i> MOTOR </h1>
					</a>
					<a href="#injecao">
						<h1 style="color: #ffffff"> <i class="fa fa-check"> </i> INJEÇÃO ELETRONICA </h1>
					</a>

				</div>
				<div class="col  m6">
					<a href="#suspensao">
					<h1 style="color: #ffffff"> <i class="fa fa-check"> </i> SUSPENSÃO </h1>
					</a>
					<a href="#freios">
						<h1 style="color: #ffffff"> <i class="fa fa-check"> </i> FREIOS </h1>
					</a>
					<a href="#revisao">
						<h1 style="color: #ffffff"> <i class="fa fa-check"> </i> REVISÃO AUTOMOTIVA </h1>
					</a>
					<a href="#oleo">
						<h1 style="color: #ffffff"> <i class="fa fa-check"> </i> TROCA DE ÓLEO </h1>
					</a>
					<a href="#cambio">
						<h1 style="color: #ffffff"> <i class="fa fa-check"> </i> CAIXA DE CAMBIO </h1>
					</a>
					<a href="#direcao">
						<h1 style="color: #ffffff"> <i class="fa fa-check"> </i> DIREÇÃO HIDRÁULICA </h1>
					</a>
				</div>
			</div>
		</div>

		<!-- Promoçoes -->
		<div class="w3-container w3-dark-grey" style="padding:128px 16px" id="geometria">
			<div class="w3-row-padding">
				<div class="w3-col m6">
					<h3>GEOMETRIA</h3>
					<h4>A geometria nos carros desempenha um papel crucial na estabilidade, 
						segurança e desempenho do veículo. Uma geometria corretamente alinhada afeta a dirigibilidade, 
						reduz o desgaste irregular dos pneus e melhora a eficiência do combustível. 
						Manter a geometria adequada é essencial para garantir uma condução suave, 
						prevenir problemas mecânicos e maximizar a vida útil dos componentes do veículo.</h4>
					<p><a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank"
							class="w3-button w3-black"><i class="fa fa-whatsapp"> </i>Agende seu horário</a></p>
				</div>

				<div class="w3-col m6">
					<img class="w3-image w3-round-large" src="_imagens/BALANCEAMENTO.jpg" alt="Buildings" width="700"
						height="394">
				</div>
			</div>
		</div>

		<div class="w3-container w3-red" style="padding:8px 6px" id="balanceamento"></div>
		<div class="w3-container w3-dark-grey" style="padding:128px 16px" id="balanceamento">
			<div class="w3-row-padding">
				<div class="w3-col m6">
					<img class="w3-image w3-round-large" src="_imagens/BALANCEAMENTO.jpg" alt="Buildings"
						width="700" height="394">
				</div>
				<div class="w3-col m6">
					<h3>BALANCEAMENTO</h3>
					<p>O balanceamento nos carros é essencial para garantir uma condução suave e segura. 
						Um equilíbrio adequado das rodas reduz as vibrações, evita o desgaste prematuro 
						dos pneus e melhora a estabilidade do veículo. Além disso, um balanceamento 
						correto contribui para a segurança durante a condução em altas velocidades 
						e aumenta a eficiência do combustível.</p>
					<p>
						<a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank"
							class="w3-button w3-black"><i class="fa fa-whatsapp"> </i>Agende seu horário</a>
					</p>
				</div>
			</div>
		</div>

		<div class="w3-container w3-red" style="padding:8px 6px" id="cambagem"></div>
		<div class="w3-container w3-dark-grey" style="padding:128px 16px" id="cambagem">
			<div class="w3-row-padding">
				<div class="w3-col m6">
					<h3>CAMBAGEM</h3>
					<p>A cambagem nos carros desempenha um papel crucial na estabilidade e no desempenho do veículo. Ao ajustar o ângulo das rodas em relação à vertical, a cambagem ajuda a distribuir uniformemente o desgaste dos pneus, melhorar a aderência ao solo e otimizar a dirigibilidade. Um alinhamento de cambagem adequado garante uma direção segura e prolonga a vida útil dos pneus.</p>
					<p><a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank"
							class="w3-button w3-black"><i class="fa fa-whatsapp"> </i>Agende seu horário</a></p>
				</div>
				<div class="w3-col m6">
					<img class="w3-image w3-round-large" src="_imagens/BALANCEAMENTO.jpg" alt="Buildings"
						width="700" height="394">
				</div>
			</div>
		</div>

		<div class="w3-container w3-red" style="padding:8px 6px" id="caster"></div>
		<div class="w3-container w3-dark-grey" style="padding:128px 16px" id="caster">
			<div class="w3-row-padding">
				<div class="w3-col m6">
					<img class="w3-image w3-round-large" src="_imagens/motor.jpg" alt="Buildings"
						width="700" height="394">
				</div>
				<div class="w3-col m6">
					<h3>CASTER</h3>
					<p>A manutenção adequada do caster nos carros é essencial para garantir uma direção precisa e estável. O ângulo de caster afeta a estabilidade direcional e a capacidade de retorno do volante. Um caster desalinhado pode resultar em problemas de direção, como instabilidade em altas velocidades e dificuldade de manter o veículo em linha reta. Manter o caster corretamente ajustado é fundamental para uma condução segura e confortável.</p>
					<p><a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank"
							class="w3-button w3-black"><i class="fa fa-whatsapp"> </i>Agende seu horário</a></p>
				</div>
			</div>
		</div>

		<div class="w3-container w3-red" style="padding:8px 6px" id="motor"></div>
		<div class="w3-container w3-dark-grey" style="padding:128px 16px" id="motor">
			<div class="w3-row-padding">
				<div class="w3-col m6">
					<h3>MOTOR</h3>
					<p>A manutenção regular do motor dos carros é crucial para garantir seu desempenho e durabilidade. Troca de óleo, filtros limpos e verificação de componentes vitais ajudam a prevenir danos e prolongar a vida útil do motor. Além disso, a manutenção adequada do motor melhora a eficiência de combustível e reduz o risco de falhas mecânicas, garantindo uma condução segura e confiável.</p>
					<p><a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank"
							class="w3-button w3-black"><i class="fa fa-whatsapp"> </i>Agende seu horário</a></p>
				</div>
				<div class="w3-col m6">
					<img class="w3-image w3-round-large" src="_imagens/MOTORES.jpg" alt="Buildings"
						width="700" height="394">
				</div>
			</div>
		</div>

		<div class="w3-container w3-red" style="padding:8px 6px" id="injecao"></div>
		<div class="w3-container w3-dark-grey" style="padding:128px 16px" id="injecao">
			<div class="w3-row-padding">
				<div class="w3-col m6">
					<img class="w3-image w3-round-large" src="_imagens/INJEçÂOELETRONICA.jpg" alt="Buildings"
						width="700" height="394">
				</div>
				<div class="w3-col m6">
					<h3>INJEÇÃO ELETRÔNICA</h3>
					<p>A manutenção adequada da injeção eletrônica é essencial para o bom funcionamento do carro.
						A injeção eletrônica controla a mistura de ar e combustível, garantindo o desempenho e
						eficiência do motor.
						Manter o sistema em bom estado evita falhas, perda de potência e problemas no consumo de
						combustível.</p>
					<p><a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank"
							class="w3-button w3-black"><i class="fa fa-whatsapp"> </i>Agende seu horário</a></p>
				</div>
			</div>
		</div>

		<div class="w3-container w3-red" style="padding:8px 6px" id="injecao"></div>
		<div class="w3-container w3-dark-grey" style="padding:128px 16px" id="injecao">
			<div class="w3-row-padding">
				<div class="w3-col m6">
					<h3>SUSPENSÃO</h3>
					<p>A manutenção da suspensão dos carros é essencial para garantir uma condução suave e segura. Verificar regularmente os amortecedores, molas e componentes da suspensão ajuda a evitar desgaste excessivo, garantindo estabilidade e conforto ao dirigir. Além disso, uma suspensão bem mantida contribui para o bom funcionamento dos freios e pneus, proporcionando uma experiência de direção mais segura e controlada.</p>
					<p><a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank"
							class="w3-button w3-black"><i class="fa fa-whatsapp"> </i>Agende seu horário</a></p>
				</div>
				<div class="w3-col m6">
					<img class="w3-image w3-round-large" src="_imagens/INJEçÂOELETRONICA.jpg" alt="Buildings"
						width="700" height="394">
				</div>
			</div>
		</div>

		<div class="w3-container w3-red" style="padding:8px 6px" id="revisao"></div>
		<div class="w3-container w3-dark-grey" style="padding:128px 16px" id="revisao">
			<div class="w3-row-padding">
				<div class="w3-col m6">
					<img class="w3-image w3-round-large" src="_imagens/INJEçÂOELETRONICA.jpg" alt="Buildings"
						width="700" height="394">
				</div>
				<div class="w3-col m6">
					<h3>REVISÃO AUTOMOTIVA</h3>
					<p>A revisão automotiva é fundamental para a segurança e o desempenho dos carros. Através da revisão regular, é possível identificar e corrigir problemas mecânicos antes que se tornem mais graves e custosos. Além disso, a manutenção preventiva ajuda a aumentar a vida útil do veículo, garantindo um funcionamento adequado de todos os componentes. A revisão automotiva também contribui para a economia de combustível e redução de emissões, além de proporcionar uma condução mais tranquila e confiável.</p>
					<p><a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank"
							class="w3-button w3-black"><i class="fa fa-whatsapp"> </i>Agende seu horário</a></p>
				</div>
			</div>
		</div>

		<div class="w3-container w3-red" style="padding:8px 6px" id="oleo"></div>
		<div class="w3-container w3-dark-grey" style="padding:128px 16px" id="oleo">
			<div class="w3-row-padding">
				<div class="w3-col m6">
					<h3>TROCA DE ÓLEO</h3>
					<p>A troca de óleo regular nos carros é essencial para manter o motor em bom funcionamento. O óleo lubrifica as peças internas do motor, reduzindo o atrito e o desgaste. Além disso, ajuda a dissipar o calor gerado pela combustão. Uma troca de óleo adequada preserva o desempenho do motor, melhora a eficiência e prolonga a vida útil do veículo.</p>
					<p><a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank"
							class="w3-button w3-black"><i class="fa fa-whatsapp"> </i>Agende seu horário</a></p>
				</div>
				<div class="w3-col m6">
					<img class="w3-image w3-round-large" src="_imagens/TrocaDEOLEO.jpg" alt="Buildings"
						width="700" height="394">
				</div>
			</div>
		</div>

		<div class="w3-container w3-red" style="padding:8px 6px" id="cambio"></div>
		<div class="w3-container w3-dark-grey" style="padding:128px 16px" id="cambio">
			<div class="w3-row-padding">
				<div class="w3-col m6">
					<img class="w3-image w3-round-large" src="_imagens/INJEçÂOELETRONICA.jpg" alt="Buildings"
						width="700" height="394">
				</div>
				<div class="w3-col m6">
					<h3>CAIXA DE CAMBIO</h3>
					<p>A manutenção adequada da caixa de câmbio é crucial para o bom funcionamento e durabilidade do veículo. A caixa de câmbio permite a troca de marchas, garantindo a transferência eficiente de energia do motor para as rodas. A manutenção regular, incluindo a verificação do nível de óleo e a substituição em intervalos recomendados, evita desgastes prematuros e falhas no sistema, garantindo uma condução suave e segura.</p>
					<p><a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank"
							class="w3-button w3-black"><i class="fa fa-whatsapp"> </i>Agende seu horário</a></p>
				</div>
			</div>
		</div>

		<div class="w3-container w3-red" style="padding:8px 6px" id="direcao"></div>
		<div class="w3-container w3-dark-grey" style="padding:128px 16px" id="direcao">
			<div class="w3-row-padding">
				<div class="w3-col m6">
					<h3>DIREÇÃO HIDRÁULICA</h3>
					<p>A manutenção adequada da direção hidráulica é essencial para garantir um controle preciso e seguro do veículo. A direção hidráulica facilita o movimento do volante, proporcionando uma condução mais confortável. A verificação regular do fluido hidráulico, a inspeção de vazamentos e o ajuste adequado do sistema contribuem para a durabilidade e eficiência da direção hidráulica, garantindo uma experiência de direção segura e tranquila.</p>
					<p><a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank"
							class="w3-button w3-black"><i class="fa fa-whatsapp"> </i>Agende seu horário</a></p>
				</div>
				<div class="w3-col m6">
					<img class="w3-image w3-round-large" src="_imagens/INJEçÂOELETRONICA.jpg" alt="Buildings"
						width="700" height="394">
				</div>
			</div>
		</div>

		<div class="w3-container w3-red" style="padding:8px 6px" id="injecao"></div>
		<div class="w3-container w3-dark-grey" style="padding:128px 16px" id="injecao">
			<div class="w3-row-padding">
				<div class="w3-col m6">
					<img class="w3-image w3-round-large" src="_imagens/INJEçÂOELETRONICA.jpg" alt="Buildings"
						width="700" height="394">
				</div>
				<div class="w3-col m6">
					<h3>INJEÇÃO ELETRÔNICA</h3>
					<p>A manutenção adequada da injeção eletrônica é essencial para o bom funcionamento do carro.
						A injeção eletrônica controla a mistura de ar e combustível, garantindo o desempenho e
						eficiência do motor.
						Manter o sistema em bom estado evita falhas, perda de potência e problemas no consumo de
						combustível.</p>
					<p><a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank"
							class="w3-button w3-black"><i class="fa fa-whatsapp"> </i>Agende seu horário</a></p>
				</div>
			</div>
		</div>
		<div class="w3-container w3-red" style="padding:8px 6px" id="injecao"></div>

		<!-- promoçoes -->
		<div class="w3-container w3-center w3-dark-grey" style="padding:128px 16px" id="pricing">
			<h3>PROMOÇÕES</h3>
			<p class="w3-large">O MELHOR DA REGIÃO PARA O SEU VEÍCULO.</p>
			<div class="w3-row-padding" style="margin-top:64px">
				<div class="w3-third w3-section">
					<ul class="w3-ul w3-white w3-hover-shadow">
						<li class="w3-black w3-xlarge w3-padding-32">KIT EMBREAGEM</li>
						<li class="w3-padding-16"><b>PALIO/GOL/CORSA/KA</b> </li>
						<li class="w3-padding-16"><b>MÃO DE OBRA</b> Grátis</li>
						<li class="w3-padding-16"><b>GARANTIA</b> 1 ANO</li>
						<li class="w3-padding-16"><b>MARCA</b> LUK </li>
						<li class="w3-padding-16">
							<h2 class="w3-wide">R$ 600</h2>
							<span class="w3-opacity">12x no crédito</span>
						</li>
						<li class="w3-light-grey w3-padding-24">
							<a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank">
								<button class="w3-button w3-black w3-padding-large">Agende seu Horário</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="w3-third">
					<ul class="w3-ul w3-white w3-hover-shadow">
						<li class="w3-red w3-xlarge w3-padding-48">TROCA DE ÓLEO</li>
						<li class="w3-padding-16"><b>ÓLEO</b> Mineral ou Sintético Castrol GTX</li>
						<li class="w3-padding-16"><b>FILTRO</b> Mobil</li>
						<li class="w3-padding-16"><b>MÃO DE OBRA</b> grátis</li>
						<li class="w3-padding-16"><b>45</b> Minutos</li>
						<li class="w3-padding-16">
							<h2 class="w3-wide">R$ 90</h2>
							<span class="w3-opacity">3x nos cartões</span>
						</li>
						<li class="w3-light-grey w3-padding-24">
							<a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank">
								<button class="w3-button w3-black w3-padding-large">Agende seu Horário</button>
							</a>
						</li>

					</ul>
				</div>
				<div class="w3-third w3-section">
					<ul class="w3-ul w3-white w3-hover-shadow">
						<li class="w3-black w3-xlarge w3-padding-32">KIT VIAGEM</li>
						<li class="w3-padding-16"><b>TROCA DE ÓLEO + FILTRO</b> Mobil</li>
						<li class="w3-padding-16"><b>ALINHAMENTO + BALANCEAMENTO</b> </li>
						<li class="w3-padding-16"><b>REVISÃO DO MOTOR</b> Injeção, Velas, Fluído de Radiador</li>
						<li class="w3-padding-16"><b>MÃO DE OBRA</b> Especializada</li>
						<li class="w3-padding-16">
							<h2 class="w3-wide">R$ 1500,00</h2>
							<span class="w3-opacity">12x nos cartões</span>
						</li>
						<li class="w3-light-grey w3-padding-24">
							<a href="https://api.whatsapp.com/send?phone=41999571073" target="_blank">
								<button class="w3-button w3-black w3-padding-large">Agende seu Horário</button>
							</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!-- Team Container -->
		<div class="w3-container w3-padding-64 w3-center w3-light-grey" id="MARCAS">
			<h2>FABRICANTES QUE ATENDEMOS</h2>
			<p></p>

			<div class="owl-carousel">
				<div class="w3-quarter">
					<img src="_imagens/fiat.png" alt="fiat" style="width:400%" class="w3-hover-opacity">
				</div>
				<div class="w3-quarter">
					<img src="_imagens/volkswagen.png" alt="volkswagen" style="width:400%" class=" w3-hover-opacity">
				</div>
				<div class="w3-quarter">
					<img src="_imagens/honda.png" alt="honda" style="width:400%" class="w3-hover-opacity">
				</div>
				<div class="w3-quarter">
					<img src="_imagens/Chevrolet.png" alt="Chevrolet" style="width:400%" class="w3-hover-opacity">
				</div>
				<div class="w3-quarter">
					<img src="_imagens/renault.png" alt="renault" style="width:400%" class="w3-hover-opacity">
				</div>
				<div class="w3-quarter">
					<img src="_imagens/ford.png" alt="ford" style="width:400%" class=" w3-hover-opacity">
				</div>
				<div class="w3-quarter">
					<img src="_imagens/peugeot.png" alt="peugeot" style="width:400%" class="w3-hover-opacity">
				</div>
				<div class="w3-quarter">
					<img src="_imagens/audi.png" alt="audi" style="width:400%" class="w3-hover-opacity">
				</div>
				<div class="w3-quarter">
					<img src="_imagens/nissan.png" alt="nissan" style="width:400%" class="w3-hover-opacity">
				</div>
				<div class="w3-quarter">
					<img src="_imagens/bmw.png" alt="bmw" style="width:400%" class="w3-hover-opacity">
				</div>
				<div class="w3-quarter">
					<img src="_imagens/toyota.png" alt="toyota" style="width:400%" class="w3-hover-opacity">
				</div>

			</div>
		</div>


		<!-- Promo Section "Statistics" -->
		<div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64" id="OFICINA">
			<div class="w3-quarter">
				<span class="w3-xxlarge">20+</span>
				<br>Anos de experiência
			</div>
			<div class="w3-quarter">
				<span class="w3-xxlarge">10+</span>
				<br>Fabricantes Nacionais e Importados
			</div>
			<div class="w3-quarter">
				<span class="w3-xxlarge">500+</span>
				<br>Clientes Fidelizados
			</div>
			<div class="w3-quarter">
				<span class="w3-xxlarge">25.000+</span>
				<br>Veículos revisados
			</div>
		</div>
		<div class="owl-carousel w3-dark-grey" id="OFICINA">
			<div class="w3-quarter">
				<img src="_imagens/TrocaDEOLEO.jpg" alt="fiat" style="width:400%" class="w3-hover-opacity">
			</div>
			<div class="w3-quarter">
				<img src="_imagens/MOTORES.jpg" alt="volkswagen" style="width:400%" class=" w3-hover-opacity">
			</div>
			<div class="w3-quarter">
				<img src="_imagens/Alinhamento.jpg" alt="honda" style="width:400%" class="w3-hover-opacity">
			</div>
			<div class="w3-quarter">
				<img src="_imagens/INJEçÂOELETRONICA.jpg" alt="fiat" style="width:400%" class="w3-hover-opacity">
			</div>
			<div class="w3-quarter">
				<img src="_imagens/SUSPENSÃO.jpg" alt="volkswagen" style="width:400%" class=" w3-hover-opacity">
			</div>
			<div class="w3-quarter">
				<img src="_imagens/BALANCEAMENTO.jpg" alt="honda" style="width:400%" class="w3-hover-opacity">
			</div>
		</div>

		<!-- 10 - Opcoes de contato -->
		<div class="container    black" style="padding:50px    16px" id="Contato">
			<h2 class="center"> CONTATO </h2>
			<p class="center   large"> Não espere mais, envie-nos uma mensagem: </p>
			<div style="margin-top:48px">
				<p> <i class="fa   fa-map-marker   fa-fw   xxlarge margin-right"> </i> Av. Colombo N° 648 - Colombo - PR
				</p>
				<p> <i class="fa   fa-whatsapp     fa-fw   xxlarge margin-right"> <a href="https://wa.me/5541992849781"
							target="_blank"> </i> WhatsApp (41) 9 9957 1073 </i></a></p>
				<p>
					<i class="fa fa-phone fa-fw xxlarge margin-right"></i>
					Telefone:
					<a href="tel:+554136661356">(41) 3666 1356</a>
				</p>

				<br>

				<link rel="stylesheet"
					href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
				<a href="https://wa.me/5541999571073?text=CJM%20Centro%20Automotivo%20agradece%20o%20seu%20contato.%20O%20que%20podemos%20fazer%20por%20você%20hoje%20?"
					style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
								z-index:1000;" target="_blank">
					<i style="margin-top:16px" class="fa fa-whatsapp"></i>
				</a>

			</div>
		</div>

	</div>

	<!-- 11.0 - Localização -->

	<div class="container black">

		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1515.8946459485344!2d-49.17687236023415!3d-25.357055659226187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce8e99e349197%3A0xbbbedaeda59bea39!2sCjm%20Centro%20Automotivo!5e0!3m2!1spt-BR!2sbr!4v1686928820086!5m2!1spt-BR!2sbr"
			width="100%" height="300" style="border:  1px" allowfullscreen="" loading="lazy"></iframe>

	</div>


	<!-- 12 - Rodapé -->
	<footer class="center   black   padding-64">

		<a href="#" class="button   light-grey"> <i class="fa    fa-arrow-up margin-right"> </i> Voltar </a>

		<div>
			<p> CJM Centro Automotivo - Avenida Colombo N° 648 Barracão 5, Santa Terezinha - Colombo-PR </a> </p>

			<i class="fa fa-facebook-official hover-opacity"></i>
			<i class="fa fa-instagram hover-opacity"></i>
			<i class="fa fa-snapchat hover-opacity"></i>
			<i class="fa fa-pinterest-p hover-opacity"></i>
			<i class="fa fa-twitter hover-opacity"></i>
			<i class="fa fa-linkedin hover-opacity"></i>
		</div>
		Todos os direitos reservados - 2022 </small>


		<div class="owl-carousel">
			<div class="w3-quarter">
				<img src="_imagens/elo.png" alt="fiat" style="width:300%" class="w3-hover-opacity">
			</div>
			<div class="w3-quarter">
				<img src="_imagens/visa.png" alt="volkswagen" style="width:300%" class=" w3-hover-opacity">
			</div>
			<div class="w3-quarter">
				<img src="_imagens/mastercard.png" alt="honda" style="width:300%" class="w3-hover-opacity">
			</div>
			<div class="w3-quarter">
				<img src="_imagens/VisaEletron.png" alt="fiat" style="width:300%" class="w3-hover-opacity">
			</div>
			<div class="w3-quarter">
				<img src="_imagens/maestro.png" alt="volkswagen" style="width:300%" class=" w3-hover-opacity">
			</div>
			<div class="w3-quarter">
				<img src="_imagens/senff.png" alt="honda" style="width:300%" class="w3-hover-opacity">
			</div>
			<div class="w3-quarter">
				<img src="_imagens/diners.png" alt="honda" style="width:300%" class="w3-hover-opacity">
			</div>
			<div class="w3-quarter">
				<img src="_imagens/american.png" alt="honda" style="width:300%" class="w3-hover-opacity">
			</div>
			<div class="w3-quarter">
				<img src="_imagens/hipercard.png" alt="honda" style="width:300%" class="w3-hover-opacity">
			</div>
		</div>


		<p>Powered by <a href="https://www.ghgconsultoriaemti.com/" target="_blank">GHG Consultoria em Ti</a></p>
	</footer>



	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

	<script>
		// Automatic Slideshow - change image every 2 seconds
		var myIndex = 0;
		carousel();

		function carousel() {
			var i;
			var x = document.getElementsByClassName("mySlides");
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
			}
			myIndex++;
			if (myIndex > x.length) {
				myIndex = 1;
			}
			x[myIndex - 1].style.display = "block";
			setTimeout(carousel, 2000); // Alteração do tempo para 2 segundos (2000 milissegundos)
		}

		// Used to toggle the menu on small screens when clicking on the menu button
		function myFunction() {
			var x = document.getElementById("navDemo");
			if (x.className.indexOf("show") == -1) {
				x.className += " show";
			} else {
				x.className = x.className.replace(" show", "");
			}
		}

		// When the user clicks anywhere outside of the modal, close it
		var modal = document.getElementById('ticketModal');
		window.onclick = function (event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}

		// Inicializa o carrossel após o carregamento da página
		$(document).ready(function () {
			// Seleciona o elemento com a classe "owl-carousel" e cria um carrossel para ele
			$(".owl-carousel").owlCarousel({
				loop: true, // Repetir o carrossel infinitamente
				margin: 10, // Espaçamento entre os slides
				nav: false, // Exibir botões de navegação
				dots: false, // Ocultar os pontos de paginação
				responsive: {
					0: {
						items: 1 // Quantidade de slides visíveis em dispositivos pequenos
					},
					768: {
						items: 4 // Quantidade de slides visíveis em dispositivos médios
					},
					992: {
						items: 6 // Quantidade de slides visíveis em dispositivos grandes
					}
				},
				autoplay: true, // Habilita o carrossel automático
				autoplayTimeout: 1000 // Tempo de transição entre os slides (2 segundos)
			});
		});




	</script>



</body>

</html>